# Exercises: Level 1
1. Find the length of the set it_companies
2. Add 'Twitter' to it_companies
3. Insert multiple IT companies at once to the set it_companies
4. Remove one of the companies from the set it_companies
5. What is the difference between remove and discard

In [6]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
# Question 1
#Find the length of the set it_companies

print('Length:', len(it_companies))
it_companies.add('Twitter')
it_companies

Length: 7

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [2]:
#Inserting multiple compnanies
it_companies.update(['Data camp', 'Udacity'])
it_companies

{'Amazon',
 'Apple',
 'Data camp',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter',
 'Udacity'}

In [3]:
# remove Apple
it_companies.remove('Apple')
it_companies

{'Amazon',
 'Data camp',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter',
 'Udacity'}

Differences between remve and discard
The discard() method removes the specified item from the set. 
This method is different from the remove() method, 
because the remove() method will raise an error if the specified item does not exist, 
and the discard() method will not.

Exercises: Level 2
1. Join A and B
2. Find A intersection B
3. Is A subset of B
4. Are A and B disjoint sets
5. Join A with B and B with A
6. What is the symmetric difference between A and B
7. Delete the sets completely

In [13]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

C = A.union(B)
print ('Union:', C)
'Intersection:', A.intersection(B)

Union: {19, 20, 22, 24, 25, 26, 27, 28}

('Intersection:', {19, 20, 22, 24, 25, 26})

In [14]:
'A in B:', A.issubset(B)

('A in B:', True)

In [18]:
# Are A and B disjoint sets
A.isdisjoint(B)

False

In [17]:
A.union(B) #union of A and B

{19, 20, 22, 24, 25, 26, 27, 28}

In [19]:
B.union(A)  #union of B and A

{19, 20, 22, 24, 25, 26, 27, 28}

In [20]:
#the symmetric difference between A and B

A.symmetric_difference(B)

{27, 28}

In [21]:
# delete sets completely
del A
del B

Exercises: Level 3
1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
2. Explain the difference between the following data types: string, list, tuple and set
3. I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? 
Use the split methods and set to get the unique words.

In [42]:
age = [22, 19, 24, 25, 26, 24, 25, 24]
age_set = set(age)
print(age_set)

# Length of Ages list
print('Length of Age lsit:', len(age))

# Length of age set
print ('Length of Age set:', len (age_set))

{19, 22, 24, 25, 26}
Length of Age lsit: 8
Length of Age set: 5

In [44]:
8==5

False

In [45]:
8<5

False

In [46]:
8>5

True

In [48]:
print ('The list is greater than the set')

The list is greater than the set

A string is a sequence of characters between single or double quotes. 
A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).
The tuples refer to the collections of various objects of Python separated by commas between them. 
The sets are an unordered collection of data types, 
These are mutable, iterable, and do not consist of any duplicate elements.

In [50]:
sent = "I am a teacher and I love to inspire and teach people"

ans = set(sent.split())
print(ans)

print ('The number of unique words in the sentence is: ', len(ans))

{'I', 'and', 'am', 'people', 'love', 'inspire', 'to', 'a', 'teacher', 'teach'}
The number of unique words in the sentence is:  10