In [5]:
# syntaxError
print 'hellow world'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('hellow world')? (3258560350.py, line 2)

In [4]:
print('hello world')

hello world

In [6]:
# NameError
print(age)

NameError: name 'age' is not defined

In [7]:
age=25
print(age)

25

In [8]:
#In the example above, Python raised an IndexError, because the list has only indexes
#from 0 to 4 , so it was out of range
numbers = [1, 2, 3, 4, 5]
numbers[5]

IndexError: list index out of range

In [9]:
numbers = [1, 2, 3, 4, 5]
numbers[4]

5

In [10]:
#ModuleNotFoundError
#In the example below, I added an extra s to math deliberately and
#ModuleNotFoundError was raised. Lets fix it by removing the extra s from math.
import maths

ModuleNotFoundError: No module named 'maths'

In [11]:
import math # We fixed it, so let's use some of the functions from the math module.

In [12]:
# AttributeError
#As you can see, I made a mistake again! Instead of pi, I tried to call a PI function from
#maths module. It raised an attribute error, it means, that the function does not exist
#in the module. Lets fix it by changing from PI to pi.
import math
math.PI

AttributeError: module 'math' has no attribute 'PI'

In [14]:
math.pi#Now, when we call pi from the math module we got the result.

3.141592653589793

In [16]:
#KeyError
users = {'name':'Asab', 'age':250, 'country':'Finland'}
users['name']
'Asab'
users['county']

#As you can see, there was a typo in the key used to get the dictionary value. so, this
#is a key error and the fix is quite straight forward. Let's do this!

KeyError: 'county'

In [18]:
users = {'name':'Asab', 'age':250, 'country':'Finland'}
users['name']
'Asab'
users['country'] #We debugged the error, our code ran and we got the value.

'Finland'

In [19]:
#TypeError
4 + '3'
#In the example above, a TypeError is raised because we cannot add a number to a
#string. First solution would be to convert the string to int or float. Another solution
#would be converting the number to a string (the result then would be '43'). Let us
#follow the first fix.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
#fix
4 + int('3')
4 + float('3')

7.0

In [22]:
#ImportError
from math import power
#There is no function called power in the math module, it goes with a different name:
#pow. Let's correct it:

ImportError: cannot import name 'power' from 'math' (unknown location)

In [24]:
#fix
from math import pow
pow(2,3)

8.0

In [26]:
#ValueError
int('12a')
#In this case we cannot change the given string to a number, because of the 'a' letter
#in it.

ValueError: invalid literal for int() with base 10: '12a'

In [28]:
#ZeroDivisionError
1/0
#We cannot divide a number by zero.

ZeroDivisionError: division by zero